# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Docker
.env

# macOS
.DS_Store

# Arquivos gerados temporários
data/*.docx
data/*.pdf
*.docx
*.pdf

# Node
node_modules/
frontend/dist/

.venv/
venv/
data/
.coverage
